<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
<section class="ftco-section" *ngIf="!showSpinner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7">
        <div id="userProfile">
          <h5 style="padding-left: 0px; color: blue;">Personal Details</h5>
          <hr>
          <p id="userName">
            <label class="userName">{{name}}</label>
          </p>
          <p id="userEmail">
            <label id="emailIDField"> <span>{{emaail}}</span>
            </label>
          </p>
          <p id="userPhoneNo">
            <label id="phoneNoField"> <span>{{phone}}</span></label>
          </p>
        </div>
        <div id="linkDetailMobile" style="overflow: hidden;">
          <h5 style="padding-left: 10px; color: blue; margin-left: 10px;">Delivered To</h5>
          <hr>
          <div>
            <div id="schedule">
            <p	style="float: left; width: 70%; padding: 10px 0px 10px 30px; font-family: serif; font-size: 15px;">
                <span><a target="_blank"><b>{{line1}},</b></a></span> 
                <span><a target="_blank">{{line2}},</a></span> 
                <span><a target="_blank">{{city}},</a></span><br/> 
                <span><a target="_blank">{{state}},</a></span><br/>
                  <span><a target="_blank">{{pincode}}</a></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="row mt-5 pt-3">
          <div class="col-md-12 d-flex mb-5">
            <div class="cart-detail cart-total p-3 p-md-4">
              <h3 class="billing-heading mb-4">Cart Total</h3>
              <p class="d-flex">
                <span>Subtotal</span>
                <span>Rs. {{subtotal}}</span>
              </p>
              <p class="d-flex">
                <span>Delivery</span>
                <span>Rs. {{deliveryCharge}}</span>
              </p>
              <p class="d-flex">
                <span>Discount</span>
                <span *ngIf="!isCouponApplied">Rs. {{couponAmount}}</span>
                <span *ngIf="isCouponApplied" style="color: green;">Rs. {{couponAmount}} (10% off)</span>
              </p>
              <hr>
              <p class="d-flex total-price">
                <span>Total</span>
                <span *ngIf="!isCouponApplied">Rs. {{total}}</span>
                <span *ngIf="isCouponApplied" style="color: green;">Rs. {{total}}</span>
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="cart-detail p-3 p-md-4">
              <h3 class="billing-heading mb-4">Payment Method</h3>
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Tranfer</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="radio" name="optradio" class="mr-2"> Check Payment</label>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                     <label><input type="checkbox" name="optradio" class="mr-2" (click)="setIsCashOnDelivery()"> Cash on Delivery</label>
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                     <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                  </div>
                </div>
              </div> -->
              <p><a><input  type="button"   (click)="getOtp();" id="orderButton"  class="btn btn-primary py-3 px-4" value="Place an order"></a></p>
              <p><a><input  type="button" style="display: none;" disabled="true"  (click)="getOtp();" id="orderButtonDisabled"  class="btn btn-primary py-3 px-4" value="Place an order"></a></p>
            </div>
          </div>
        </div>
      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> <!-- .section -->