<br/>

<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
<section class="ftco-cart" *ngIf="!showSpinner">
			<div class="container">
				<div class="row">
    			<div class="col-md-12">
    				<div>
	    				<table class="table" *ngIf="isPC && isItemPresent">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    
						    <tbody>
						      <tr class="text-center" *ngFor="let product of productArray">
						        <!-- <td class="product-remove" (click)= "deleteCartItem(product.id)"><a><span class="fa fa-remove"></span></a></td>
								 -->
								<td class="product-remove"></td>
						         
						        <td class="image-prod"><div class="img" (click)="navigateToSingleProduct(product.id)" ><img src="{{product.product_image1}}" class="img-fluid" alt="Network Error"></div></td>
						        
						        <td class="product-name">
						        	<a (click)="navigateToSingleProduct(product.id)" style="color: blue;">{{product.product_name}}</a>
						        </td>
						        
						        <td class="price">{{product.product_price}}</td>
						        
						        <td class="quantity">
					          	<div class="input-group mb-3">
											<span class="input-group-btn mr-2">
											</span><input type="text" name="quantity"
												class="form-control input-number" max="5" disabled="disabled" value="{{product.quantity}}"> <span class="input-group-btn ml-2">
											</span>
										</div>
									</td>
						        
						        <td class="total"><p>{{product.total}}</p></td>
						      </tr><!-- END TR-->
                            </tbody>
						  </table>
              <div *ngIf="!isPC && isItemPresent" class="">
              <div *ngFor="let product of productArray">
                <br/>
                <div class="d-flex inlineDisplay cart-total">
                 <span><div class="img image-prod"><img src="{{product.product_image1}}" class="img-fluid" 
                  alt="Network Error" width="100px" height="100px"></div>
                  </span>
                  <span>
                    <h3 style="color: blue;" routerLink="" (click)="navigateToSingleProduct(product.id)">{{product.product_name}}</h3>
                    <label><b>Price :  </b></label>{{product.product_price}}
                    <label><b>Qnty. :  </b></label>{{product.quantity}}
                    <label><b>Total. :  </b></label>{{product.total}}
				  </span>
				  <span *ngIf="product.status=='Delivered'" class="Orderstatus">{{product.status}}</span>
				  <span *ngIf="product.status=='Confirmed'||'confirmed'" class="confirmed">{{product.status}}</span>
				  <span *ngIf="product.status=='Shipped'" class="shipped">{{product.status}}</span>
				  <span *ngIf="product.status=='OnRoute'" class="onroute">{{product.status}}</span>
                  <!-- <span><a (click)= "deleteCartItem(product.id)"><span class="fa fa-remove"></span></a></span> -->
                </div>
            </div>
            </div>
    			</div>
    		</div>
			<div class="row justify-content-centered" *ngIf="!isItemPresent">

				<h2 style="text-align: center;">No Item Present </h2>
			</div>
      </div>
      </div>
		</section>
		<br>
		<br>