<br>
<div *ngIf="showSpinner">
  <div class="wrapper">
    <div class="overlay">
      <div class="spinner-wrapper">
        <app-app-spinner></app-app-spinner>
      </div>
    </div>
  </div>
</div>
<div class="px-1 px-md-4 py-5 mx-auto" *ngIf="isPC && !showSpinner">
  <div class="card">
      <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Order Detail</h2>
        <hr>
      <div class="row d-flex justify-content-between px-3 top">
          <div class="d-flex">
              <h4>
                <span style="font-size: 20px; color: black;">Order Id : </span>
                <span class="text-primary font-weight-bold">{{id}}</span><br>
                Product Name : <span class="text-primary font-weight-bold">{{productName}}</span><br>
                <span style="font-size: 20px; color: black;">Quantity : </span>
                <span class="text-primary font-weight-bold">{{quantity}}</span><br>

                <span style="font-size: 20px; color: black;">Total Price : </span>
                <span class="text-primary font-weight-bold">{{totalPrice}}</span>
              </h4>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="image-prod img"><img width="100px" height="80px" src={{image1}} class="img-fluid" alt="Network Error"></div>
						        
          </div>
          <div class="d-flex flex-column text-sm-right">
              <p class="mb-0"><b>Expected Arrival :</b> <span style="color: blue;font-weight: bold;">{{expectedDate}}</span></p>
              <h3>Delivered At</h3>
              <p class="mb-0">{{addressLine1}}<span></span></p>
              <p class="mb-0">{{addressLine2}}<span></span></p>
              <p class="mb-0">{{city}},{{pincode}}<span></span></p>
              <!-- <p>USPS <span class="font-weight-bold">234094567242423422898</span></p> -->
          </div>
      </div> <!-- Add class 'active' to progress -->
      <div class="row d-flex justify-content-center">
          <div class="col-12">
              <ul *ngIf="isConfirmed" id="progressbar" class="text-center">
                  <li class="active step0"></li>
                  <li class="step0"></li>
                  <li class="step0"></li>
                  <li class="step0"></li>
              </ul>

              <ul *ngIf="isShipped" id="progressbar" class="text-center">
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="step0"></li>
                <li class="step0"></li>
            </ul>

            <ul *ngIf="isOnRoute" id="progressbar" class="text-center">
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="step0"></li>
            </ul>

            <ul *ngIf="isDelivered" id="progressbar" class="text-center">
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="active step0"></li>
                <li class="active step0"></li>
            </ul>
          </div>
      </div>
      <div class="row justify-content-between top">
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
              <div class="d-flex flex-column">
                  <p class="font-weight-bold">Order<br>Confirmed</p>
              </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
              <div class="d-flex flex-column">
                  <p class="font-weight-bold">Order<br>Shipped</p>
              </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/TkPm63y.png">
              <div class="d-flex flex-column">
                  <p class="font-weight-bold">Order<br>On Route</p>
              </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/HdsziHP.png">
              <div class="d-flex flex-column">
                  <p class="font-weight-bold">Order<br>Arrived</p>
              </div>
          </div>
      </div>
  </div>
</div>






<div class="px-1 px-md-4 py-5 mx-auto" *ngIf="!isPC && !showSpinner">
  <div class="card">
      <div class="row d-flex justify-content-between px-3 top">
          <div class="d-flex">
              <h4>Product Name : <span class="text-primary font-weight-bold">{{productName}}</span><br>
                <span style="font-size: 15px; color: black;">Quantity : </span>
                <span class="text-primary">{{quantity}}</span><br>

                <span style="font-size: 15px; color: black;">Total : </span>
                <span class="text-primary">{{totalPrice}}</span>
              </h4>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="image-prod img"><img width="110px" height="130px" src="{{image1}} " class="img-fluid" alt="Network Error"></div>
						        
          </div>
          <div class="d-flex flex-column text-sm-right">
              <p class="mb-0">Expected Arrival :  <span style="color: blue;font-weight: bold;">{{expectedDate}}</span></p>
              <h3>Delivered At</h3>
              <p class="mb-0">{{addressLine1}}<span></span></p>
              <p class="mb-0">{{addressLine2}}<span></span></p>
              <p class="mb-0">{{city}},{{pincode}}<span></span></p>
          </div>
      </div> <!-- Add class 'active' to progress -->
     
      <div class="row d-flex justify-content-center">
        <div class="col-12">
            <ul *ngIf="isConfirmed" id="progressbar" class="text-center">
                <li class="active step0">Confirmed</li>
                <li class="step0">Shipped</li>
                <li class="step0">On Route</li>
                <li class="step0">Arrived</li>
            </ul>

            <ul *ngIf="isShipped" id="progressbar" class="text-center">
              <li class="active step0">Confirmed</li>
              <li class="active step0">Shipped</li>
              <li class="step0">On Route</li>
              <li class="step0">Arrived</li>
          </ul>

          <ul *ngIf="isOnRoute" id="progressbar" class="text-center">
              <li class="active step0">Confirmed</li>
              <li class="active step0">Shipped</li>
              <li class="active step0">On Route</li>
              <li class="step0">Arrived</li>
          </ul>

          <ul *ngIf="isDelivered" id="progressbar" class="text-center">
              <li class="active step0">Confirmed</li>
              <li class="active step0">Shipped</li>
              <li class="active step0">On Route</li>
              <li class="active step0">Arrived</li>
          </ul>
        </div>
    </div>

  </div>
</div>