<header>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light bg-primary" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" style="color: white;" routerLink='' (click)="clickLink('main');">Fill Basket</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" (click)="showMenu()"
				 aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a routerLink='' (click)="clickLink('main');"
						class="nav-link">Home</a></li>
					 <!-- <li class="nav-item dropdown">
						 <a class="nav-link dropdown-toggle" href="#" id="dropdown04"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="#">Shop</a>
							<a class="dropdown-item" href="#">Wishlist</a>
							<a class="dropdown-item" href="#">SingleProduct</a> 
							<a class="dropdown-item" href="#">Cart</a>
							<a class="dropdown-item" href="#">Checkout</a>
						</div>
					</li> -->
					<li class="nav-item"><a href="#" routerLink='' (click)="clickLink('shop');" class="nav-link">Shop</a></li> 
					<li class="nav-item"><a routerLink='' (click)="clickLink('about');" class="nav-link">About</a></li>
					<!-- <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
                    <li class="divider"></li>
					<li class="nav-item"><a *ngIf='!hardcodedAuthenticationService.isUserLoggedIn()' routerLink='' (click)="clickLink('login');" class="nav-link">Log
							In</a></li>
					<li class="nav-item"><a *ngIf='!hardcodedAuthenticationService.isUserLoggedIn()' routerLink='' (click)="clickLink('register');" class="nav-link">Sign
							Up</a></li>
					<!-- <li class="nav-item"><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()'  routerLink='' (click)='navigateToMyProfile();'class='nav-link'>My Account</a></li> -->
					 <li class="nav-item dropdown">
						 <a class="nav-link dropdown-toggle" href="#" *ngIf='hardcodedAuthenticationService.isUserLoggedIn()'  id="dropdown04"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item"  routerLink='' (click)='navigateToMyProfile();'>My Account</a>
							<a class="dropdown-item" routerLink='' (click)="clickLink('myOrder');">My Order</a>
							<a class="dropdown-item" routerLink="" (click)="clickLink('cart');">Cart</a>
						</div>
					</li>
					<li class="nav-item"><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()'  routerLink='' (click)="clickLink('logout');" class="nav-link">Logout</a></li>
					<!-- <li class="nav-item cta cta-colored"><a *ngIf='hardcodedAuthenticationService.isUserLoggedIn()' href="#"
					routerLink="" (click)="clickLink('cart');" class="nav-link"><span><i class="fa fa-shopping-cart" style="font-size: 15px;"></i></span></a></li> -->

				</ul>
			</div>
		</div>
	</nav>

</header>