<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
 
<br/>

<section style="height: auto;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-6 justify-content-center">
        <!-- <a href="" class="image-popup"><img src="{{productImage1}}" class="img-fluid" alt="Network Error"></a> -->
        <div class="w3-content w3-display-container" style="max-width:800px"> 
         <div class="img-fluid img-responsive"><img class="mySlides" src="{{productImage1}}" style="width:100%; height: 300px;"></div>
         <div class="img-fluid img-responsive"><img class="mySlides" src="{{productImage2}}" style="width:100%; height: 300px;"></div>
         <div class="img-fluid img-responsive"><img class="mySlides" src="{{productImage3}}" style="width:100%; height: 300px;"></div>
         
        
         <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
            <div class="w3-left w3-hover-text-khaki" style="color: black;" (click)="plusDivs(-1)">&#10094;</div>
            <div class="w3-right w3-hover-text-khaki" style="color: black;" (click)="plusDivs(1)">&#10095;</div>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" (click)="currentDiv(1)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" (click)="currentDiv(2)"></span>
            <span class="w3-badge demo w3-border w3-transparent w3-hover-white" (click)="currentDiv(3)"></span>
          </div>
       </div> 
      </div>
      <div class="col-lg-6 product-details pl-md-5">
        <h3>{{productName}}</h3>
        <!-- <div class="rating d-flex">
          <p class="text-left mr-4">
            <a href="#" class="mr-2">5.0</a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
            <a href="#"><span class="ion-ios-star-outline"></span></a>
          </p>
          <p class="text-left mr-4">
            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
          </p>
          <p class="text-left">
            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
          </p>
        </div> -->
        <p class="price"><span style="color: brown;"><span class="fa">&#8377;</span> {{productPrice}}/kg</span></p>
        <p>{{description}}</p>
        <div class="row mt-4">
          <!-- <div class="col-md-6">
            <div class="form-group d-flex">
              <div class="select-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="" id="" class="form-control">
                  <option value="">Small</option>
                  <option value="">Medium</option>
                  <option value="">Large</option>
                  <option value="">Extra Large</option>
                </select>
              </div>
            </div>
          </div> -->
          <div class="w-100"></div>
          <div class="input-group col-md-6 d-flex mb-3">
             <span class="input-group-btn mr-2" style="background-color: mediumaquamarine;">
                <button type="button" (click)="minusButton();" class="quantity-left-minus btn"  data-type="minus" data-field="">
                 <i class="fa fa-minus"></i>
                </button>
              </span>
             <input type="text" disabled="true" id="quantity" style="font-weight: bold;" name="quantity" class="form-control input-number" value="1" min="1" max="100">
             <span class="input-group-btn ml-2" style="background-color: green;">
                <button type="button" (click)="plusButton();" class="quantity-right-plus btn" data-type="plus" data-field="">
                   <i class="fa fa-plus"></i>
               </button>
             </span>
             
          </div>
          <div class="w-100"></div>
          <!-- <div class="col-md-12">
            <p style="color: #000;">600 kg available</p>
          </div> -->
        </div>
      
          <p *ngIf="!isUserLoggedIn"><a routerLink="/login" class="btn btn-black py-3 px-5">{{btnValue}}</a></p>
          <p *ngIf="isUserLoggedIn"><a   (click)="addToCart();" class="btn btn-black py-3 px-5">{{btnValue}}</a></p>
          <!-- <p *ngIf="isUserLoggedIn"><a  href="#" onclick="openCart()" class="btn btn-black py-3 px-5">Add to Cart</a></p> -->
    </div>
    </div>
  </div>
</section>


<section *ngIf="!isPC" class="ftco-section" style="margin-top: 300px;">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center">
        <!-- <span class="subheading">Products</span> -->
        <h2 class="mb-4">Related Products</h2>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
      </div>
    </div>   		
  </div>
  <div class="container" *ngFor="let product of categoryProduct">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="product">
          <a (click)="navigateToSingleProduct(products.id);" class="img-prod"><img class="img-fluid" src="{{product.productImage1}}" alt="Network Error">
            <span class="status">{{product.category}}</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a (click)="navigateToSingleProduct(products.id);">{{product.productName}}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="price-sale"><span class="fa">&#8377;</span> {{product.productPrice}}/kg</span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a (click)="navigateToSingleProduct(products.id);" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="fa fa-bar"></i></span>
                </a>
                <a (click)="navigateToSingleProduct(products.id);" class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><i class="fa fa-cart"></i></span>
                </a>
                <a (click)="navigateToSingleProduct(products.id);" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="fa fa-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section *ngIf="isPC" class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center">
        <!-- <span class="subheading">Products</span> -->
        <h2 class="mb-4">Related Products</h2>
      </div>
    </div>   		
  </div>
  <div class="container" *ngIf="isPC">
    <div class="row">
      <div class="list-inline">
        <div class="col-lg-3 col-md-6 list-inline-item" *ngFor="let products of categoryProduct">
          <br/>  
          <div style="margin-right: 15px;">
                <div class="card h-100 product">
                  <a (click)="navigateToSingleProduct(products.id);"  class="card-img-top img-prod">
                    <img class="" src={{products.productImage1}} height="250px" width="250px" alt="Network Error" >
                    <span class="status">{{products.category}}</span>
                    <div class="overlay"></div>
                  </a>
                  <div class="card-body">
                    <div class="text py-3 pb-4 px-3 text-center">
                      <h3><a (click)="navigateToSingleProduct(products.id);" style="font-weight: bold;" >{{products.productName.split(" ")[0]}}</a><span *ngIf="products.productName.split(' ')[1]!=null">....</span></h3>
                      <div class="d-flex">
                        <div class="pricing">
                          <p class="price"><span class="fa">&#8377;</span><span
                              class="price-sale">{{products.productPrice}}/kg</span></p>
                        </div>
                      </div>
                      <div class="bottom-area d-flex px-3">
                        <div class="m-auto d-flex">
                          <a  (click)="navigateToSingleProduct(products.id);" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                            <span><i class="fa fa-bars"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            </div>
            </div>
          </div>
  
</section>