.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.line-Word h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
h2 span { 
     background:#fff; 
     padding:0 10px; 
     line-height: 0.1em;
 }

 .list-inline-item:not(:last-child) {
    margin-right: 0px; 
}
.img-fluid{
    height:-webkit-fill-available;
    width: 100%;
    }
