<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
<br>
<div class="registerform" *ngIf="!showSpinner && !disableAddBtn" >
  <form  (ngSubmit)="uploadData()" #todoForm="ngForm" name="todoForm" >
   <div class="container register-form">
            <div class="form">
                <div class="no">
                    <p style="align-content: center; font-size: 25px">Add Product</p>
                </div>
  
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Product Name *" name="productName" [(ngModel)]="productName" required>
                                <span style="color:red" *ngIf="todoForm.dirty && todoForm.invalid">
                                  <span>     Product Name is required.*</span>
                                  </span>
                              </div>
                              <span style="color:red" *ngIf="todoForm.dirty && todoForm.invalid">
                                  <br>
                              </span>
                           
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Product Price *" name="productPrice" [(ngModel)]="productPrice" required>
                                <span style="color:red" *ngIf="todoForm.dirty && todoForm.invalid">
                                  <span>     Enter Product Price.*</span>
                                  </span>
                              </div>
                             
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                 <input type="text" class="form-control" placeholder="Enter Product Description *" name="description" [(ngModel)]="description" value="" id="description" 
                                  required="required" type="text">
                                  <span style="color:red" *ngIf="todoForm.dirty && todoForm.invalid">
                                    <span>     Product Description is required.*</span>
                                    </span>
                              </div>
                            
                            <div class="form-group">
                                <select class="form-control" id="category" name="category" [(ngModel)]="category">
                    <option>Fruits</option>
                    <option>Vegetables</option>
                    <option>Dry Fruits</option>
                    <option>Others</option>
                </select>
                <span style="color:red" *ngIf="todoForm.dirty && todoForm.invalid">
                                  <span>    Select Valid Category</span>
                                  </span>
                              </div>
                            
                        </div>
              
              <div class="col-md-6">
                            <div class="form-group">
                                 <input name="productImage1" id="productImage1" class="form-control here"
                                     required="required" type="file"  (change)="onFileChanged($event)">
                              </div>
            
                  
                           
                            <div class="form-group">
                                <input name="productImage2" id="productImage2"  class="form-control here"
            required="required" type="file" (change)="onFileChanged1($event)">
                              </div>
                             
                        </div>
              
               <div class="col-md-6">
                            <div class="form-group">
                                 <input name="productImage3" id="productImage3"  class="form-control here"
            required="required" type="file" (change)="onFileChanged2($event)">
                              </div>
      
                        </div>
              
                    </div>
                    <input *ngIf="disableAddBtn" type="button" (click)="uploadData()" disabled  style="color: red"  value="Add Product" class="btnSubmit">
                    <input *ngIf="!disableAddBtn" type="button" (click)="uploadData()" value="Add Product" class="btnSubmit">
                </div>
            </div>
        </div>
        </form>
        </div>