#btnSearch, #btnClear {
	display: inline-block;
	vertical-align: top;
}
#table {
 width: 100%;
}
#desc {
  word-break: break-all;
  
}
.label {
	color: white;
	padding: 8px;
  }
  
 .success {background-color: #4CAF50;} /* Green */