<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
<!-- Show All Address Start -->
<div style="display: none; background-clip: grey; overflow: scroll;border:5px;" id="SelectAddress" class="modal bs-example-modal-lg hide" data-backdrop = "static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modalClass modal-content">
		<div class="modal-header PopUpModalHeader"  style="background-color:#82ae46;">
			<h4 class="modal-title">
			<span >All Address</span>
				</h4>
			  <button type="button" class="close closeModal modalHeaderClose" data-dismiss="modal" (click)="disMissMadal('SelectAddress')">&times;</button>
			</div>
        <div class="modal-body-centered" style="color: black; margin-left: 5px;">
			<div id="schedule" *ngFor="let address of addressArray">
				<span><input type="radio"  id="{{address.address_id}}" (click)="CheckBox_Checked(address.address_id);"></span>
						&nbsp;<span><a target="_blank"><b>{{address.address_line_1}},</b></a></span> 
						&nbsp;<span><a target="_blank">{{address.address_line_2}},</a></span> 
						&nbsp;<span><a target="_blank">{{address.city}},</a></span><br/> 
						&nbsp;<span><a target="_blank">{{address.state}},</a></span><br/>
						&nbsp;<span><a target="_blank">{{address.pincode}}</a></span>
			</div>
			<div class="modal-footer">
			<input type="button" class="updateMail"  data-dismiss="modal" (click)="makeDefault()" value="Make Default" style="background-color:#82ae46; border-radius:5px;  height: 30px; width: 100px;">
		    <input type="button" class="updateMail"  data-dismiss="modal" (click)="disMissMadal('SelectAddress')" value="Cancel" style="background-color:#82ae46; border-radius:5px;  height: 30px; width: 100px;">
			</div>
		</div>
      </div>
    </div>
  </div>

<!-- Show Address Modal End -->

<!-- Add Address Modal Start -->

<div *ngIf="!isPC"  class="modal bs-example-modal-lg hide" data-backdrop = "static" data-keyboard="false" tabindex="-1" role="dialog" id="AddAddress">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header modalHeaderFontSize" style="background-color:blue">
			 <h5>Add Address</h5>
				<div class="close closeUpdate">
					<div class="pull-right" data-dismiss="modal" (click)="disMissMadal('AddAddress')"> &times; </div>
				</div>
			</div>
			<div class="space"></div>
			<div class ="modalTextAlignHead">
			<br>
			
				<table align = "center" width = "80%">
					<tr style="padding-top:30px;">
						<td><b>Address Line1*</b></td>
						<td><input name="line1" id="line1" value=""  required="required" [(ngModel)]='line1' type="text">
					</tr>
					<tr height="15px"><td><input style="display: none;" type="text"></td></tr>
					<tr style="margin-top:40px;">
						<td><b>Address Line2*</b></td>
						<td><input name="line2" id="line2" value=""  required="required" [(ngModel)]="line2" type="text"></td>
					</tr>
					<tr height="15px"><td><input style="display: none;" type="text"></td></tr>
					<tr>
						<td><b>City*</b></td>
						<td><input name="city" id="city" value=""  required="required" [(ngModel)]="city" type="text"></td>
					</tr>
					<tr height="15px"><td><input style="display: none;" type="text"></td></tr>
					<tr>
						<td><b>State*</b></td>
						<td><input name="state" id="state" value=""  required="required" [(ngModel)]="state" type="text"></td>
					</tr>
					<tr height="15px"><td><input style="display: none;" type="text"></td></tr>
					<tr>
						<td><b>Pincode*</b></td>
						<td><input name="pincode" id="pincode" value="" [(ngModel)]="pincode"  required="required" type="text"></td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="modal-footer">
			  <input type="button" value="Add" (click)="addAddressHit();" style="background-color:#82ae46; border-radius:5px;  height: 30px; width: 100px;">
			  <input type="button"  data-dismiss="modal" (click)="disMissMadal('AddAddress')" value="Cancel" style="background-color:#82ae46; border-radius:5px;  height: 30px; width: 100px;">
			</div>
		</div>
	</div>
</div> 

<div *ngIf="isPC" id="AddAddress" class="modal bs-example-modal-lg hide" data-backdrop = "static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header PopUpModalHeader"  style="background-color:#82ae46;">
        <h4 class="modal-title">
        <span> Add Address</span>
            </h4>
          <button type="button" class="close closeModal modalHeaderClose" data-dismiss="modal" (click)="disMissMadal('AddAddress')">&times;</button>
        </div>
        <div class="modal-body-left">
          <p class="lebelText">
            <label><b>Address Line1*</b></label>&emsp;&emsp;<br/><input name="line1" id="line1" value=""  required="required" [(ngModel)]='line1' type="text">&emsp;
            <br/><label><b>Address Line2*</b></label>&emsp;&emsp;<br/><input name="line2" id="line2" value=""  required="required" [(ngModel)]="line2" type="text">&emsp;
            <br/><label><b>City</b></label>&emsp;&emsp;<br/><input name="city" id="city" value=""  required="required" [(ngModel)]="city" type="text">&emsp;
            <br/><label><b>State</b></label>&emsp;&emsp;<br/><input name="state" id="state" value=""  required="required" [(ngModel)]="state" type="text">&emsp;
            <br/><label><b>Pincode</b></label>&emsp;&emsp;<br/><input name="pincode" id="pincode" value="" [(ngModel)]="pincode"  required="required" type="text">&emsp;
            <br/><br/><br/><button type="button" class="updateMail" (click)="addAddressHit();" style="outline-color: white;">Add</button>
	   </p>
        </div>
      </div>
    </div>
  </div>

<!-- Add Address Modal End -->

<div id="updatePhoneNo" class="modal bs-example-modal-lg hide" data-backdrop = "static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header PopUpModalHeader"  style="background-color:#82ae46;">
        <h4 class="modal-title">
        <span *ngIf="isMobileAvailable"> Update Phone No.</span>
        <span *ngIf="!isMobileAvailable"> Add Phone No.</span>
            </h4>
          <button type="button" class="close closeModal modalHeaderClose" data-dismiss="modal" (click)="disMissMadal('updatePhoneNo')">&times;</button>
        </div>
        <div class="modal-body">
          <p *ngIf="isPC" class="inlineDisplay lebelText">
            <label><b>Phone No.</b></label>&emsp;&emsp;<input type="text" id="addMobileNo" name="newMobileNo" [(ngModel)] = "phone" maxlength="15">&emsp;
          &emsp;<button type="button" class="updateMail" (click)="updateMobileNo()" style="outline-color: white;">Add</button>
		  </p>
		  <p *ngIf="!isPC">
            <label><b>Phone No.</b></label>&emsp;&emsp;<input type="text" id="addMobileNo" name="newMobileNo" [(ngModel)] = "phone" maxlength="15">&emsp;
		  &emsp; &emsp; &emsp; &emsp; <br/><br/>
		  <button type="button" class="updateMail" (click)="updateMobileNo()" style="outline-color: white;">Add</button>
          </p>
          <p>
          <span class="error" id="invalid_email_add" *ngIf="spclCharMobile">* Please enter Phone No. in correct format.</span>
          <span class="error" id="blank_email_add" *ngIf="blankMobile">* Please enter Phone No.</span>
          </p>
        </div>
      </div>
    </div>
  </div>


<div class="space-12"></div>

<div class="container-fluid" *ngIf="isPC" style="background-image: url(../assets/images/bg_1.jpg);">
	<div class="space-12"></div>
	<div class="content-unit" style="padding-top: 5px;">
		<div id="MyProfileTabWeb">
			<div id="MyProfileTab" >
				<div id="userDetailMobile" style="width: 100%; overflow: hidden;">
					<div id="userProfile">
						<div>
							<table>
								<tr>
									<td class="inlineDisplay">
										<!-- <div> <span *ngIf="true" class="profile-img-container"
												style="color: #4e98c6; margin: 15px 0 0px 25px; cursor: pointer; vertical-align: middle;"
												(click)="openFileOption();"> <i
												*ngIf="!isProfilePicAvailable"><img
													class="centered-and-cropped" width="100" height="100"
													style="border-radius: 50%" alt="Network Error"
													src='../assets/images/avtar_image.jpg'></i> <i
					  *ngIf="isProfilePicAvailable"><img
													class="centered-and-cropped" width="100" height="100"
													style="border-radius: 50%" alt="Network Error"
													src='{{application_url}}/user_data.php?id={{user_id}}'></i> <a><span
													class="fa fa-pencil"></span></a> 
													 <i
					  *ngIf="!isProfilePicAvailable"><span
													class="fa fa-camera" aria-hidden="true" id="camera_icon"></span></i> 
												<i *ngIf="isProfilePicAvailable"><span
													class="fa fa-camera" aria-hidden="true"
					  style="display: none;" id="camera_icon"></span></i> 
					<input type="file" id="upload_File" accept="image/*"
					style="display: none;" (change)="fileSelected($event)" [(ngModel)]="fileName"> 
				  </span> 
				  <input type="button" value="" id="upload"
												style="display: none;" (click)="uploadProfilePicOnCloud()">
										</div> -->

										<div>
											<span *ngIf="true" class="profile-img-container"
												style="color: #4e98c6; margin: 15px 0 0px 25px; cursor: pointer; vertical-align: middle;"
												>
											<i
											*ngIf="!isProfilePicAvailable"><img
												class="centered-and-cropped" width="100" height="100"
												style="border-radius: 50%" alt="Network Error"
												src='../assets/images/avtar_image.jpg'></i>
                                          </span>
										</div>
									</td>
									<td  class="inlineDisplay">
										<div>
											<p id="userName">
												<label class="userName">{{name}}</label> &nbsp;
											</p>
											<p id="userEmail">
												<label id="emailIDField"> <span
													*ngIf="isEmailAvailable">{{email}}</span>
													<span *ngIf="!isEmailAvailable" class="alertField">No
														E-Mail ID available</span>
												</label> &nbsp; 
											</p>
											<p id="userPhoneNo">
												<label id="phoneNoField"> <span
													*ngIf="isMobileAvailable">{{phone}}</span>
													<span *ngIf="!isMobileAvailable" class="alertField">No
														Phone Number Available</span>
												</label>
										&nbsp; <i *ngIf="!isMobileAvailable"
													id="addMobileIcon" class="fa fa-pencil"
													style="font-size: 18px; color: #6698b7; cursor: pointer;"
													data-toggle="modal" data-target="#addMobile" (click)="showModal('updatePhoneNo');" title="Add"></i>
												<i *ngIf="isMobileAvailable" id="updateMobileIcon"
													class="fa fa-pencil"
													style="font-size: 18px; color: #6698b7; cursor: pointer;"
													data-toggle="modal" data-target="#updateMobile"
													title="Edit" (click)="showModal('updatePhoneNo');"></i>  &nbsp;
											</p>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<br>
						<a *ngIf="isAdmin" routerLink='/addProduct' class="nav-link">Add Product</a>
						<a *ngIf="isAdmin" routerLink='/admin' class="nav-link">Admin</a>
						<div id="generalInfo" class="marginTop">
							<p>
								<label class="genInfo">
								<h4>General Information</h4></label>
							</p>
							<hr>
							<p class="inlineDisplay">
								<label><b>User Name : </b></label><label>&emsp;{{name}}</label>
							</p>
							<br />
							<p class="inlineDisplay">
								<label><b>User Phone No : </b></label><label>{{phone}}</label>
							</p>
							<br />
							<br/>
						</div>
					</div>
				</div>
				<div id="linkDetailMobile" style="overflow: hidden;">
					<h5 style="padding-left: 0px; color: blue;">Address Details</h5>
					<i id="addAddressIcon" class="fa fa-plus"
					style="font-size: 18px; color: #6698b7; cursor: pointer;"
					(click)="showModal('AddAddress');" title="Add">Add Address</i>
					<hr>
					<div>
						<div id="schedule" style="background-color: white;border: springgreen;border: 10px;">
						<p	style="float: left; width: 70%; padding: 10px 0px 10px 30px; font-family: serif; font-size: 15px;">
								<span><a target="_blank"><b>{{address.address_line_1}},</b></a></span> 
								<span><a target="_blank">{{address.address_line_2}},</a></span> 
								<span><a target="_blank">{{address.city}},</a></span><br/> 
								<span><a target="_blank">{{address.state}},</a></span><br/>
								<span><a target="_blank">{{address.pincode}}</a></span>
							</p>
							
						</div>
						<div id="schedule" class="">
							<p style="padding: 20px 0px 50px 80px;" *ngIf="isMoreAddress">
								<br/>
								<i *ngIf="isMoreAddress"  id="addAddressIcon" class="fa fa-menu"
					style="font-size: 18px; color: #6698b7; cursor: pointer; border-radius: 5px; border: 5px;"
					(click)="allAddressPage();"  title="Add">View More</i>
							</p>
							<p style="padding: 20px 0px 50px 60px;" *ngIf="!isMoreAddress">
								<a id="addAddressIcon" class="fa fa-pencil"
									style="font-size: 18px; color: #6698b7; cursor: pointer;"
									ng-click="addMobileNo();" title="Add"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




		<div class="container-fluid" *ngIf="showScreen && !isPC" style="background-image: url(../assets/images/bg_1.jpg);">
			<div class="space-12"></div>
			<div class="content-unit" style="padding-top: 5px;">
				<div id="MyProfileTabWeb">
					<div id="MyProfileTab" class="inlineDisplay">
						<div id="userDetail" style="width: 54%; overflow: hidden;">
							<div id="userProfile">
								<div>
									<table>
										<tr>
											<td>
												<div>
													<p id="userName">
														<label class="userName" style="color: darkblue;font-weight: bold;">{{name}}</label> &nbsp;
													</p>
													<p id="userEmail">
														<label id="emailIDField" class="inlineDisplay"> <span
															*ngIf="isEmailAvailable">{{email}}</span>
															<span *ngIf="!isEmailAvailable" class="alertField">No
																E-Mail ID available</span>
														</label> &nbsp; <i *ngIf="!isEmailAvailable"
															id="addEmailIcon" class="fa fa-pencil"
															style="font-size: 18px; color: #6698b7; cursor: pointer;"
															data-toggle="modal" data-target="#addEmail" title="Add"></i>
														<!-- <i *ngIf="isEmailAvailable" id="updateEmailIcon"
															class="fa fa-pencil"
															style="font-size: 18px; color: #6698b7; cursor: pointer;"
															data-toggle="modal" data-target="#updateEmail"
															title="Edit"></i>  &nbsp; -->
															
													</p>
													<p id="userPhoneNo">
														<label id="phoneNoField" class="inlineDisplay"> <span
															*ngIf="isMobileAvailable">{{phone}}</span>
															<span *ngIf="!isMobileAvailable" class="alertField">No
																Phone Number Available</span>
                            </label>
                            &nbsp; <i *ngIf="!isMobileAvailable"
															id="addMobileIcon" class="fa fa-pencil"
															style="font-size: 18px; color: #6698b7; cursor: pointer;"
															data-toggle="modal" data-target="#addMobile" (click)="showModal('updatePhoneNo');" title="Add"></i>
														<i *ngIf="isMobileAvailable" id="updateMobileIcon"
															class="fa fa-pencil"
															style="font-size: 18px; color: #6698b7; cursor: pointer;"
															data-toggle="modal" data-target="#updateMobile"
															title="Edit" (click)="showModal('updatePhoneNo');"></i>  &nbsp;
															
													</p>
												</div>
											</td>
											<td>
												 <div>
													<span *ngIf="true" class="profile-img-container"
														style="color: #4e98c6; margin: 15px 0 0px 25px; cursor: pointer; vertical-align: middle;"
														(click)="openFileOption();"> 
														<i
														*ngIf="!isProfilePicAvailable"><img
															class="centered-and-cropped" width="100" height="100"
															style="border-radius: 50%" alt="Error"
															src='../assets/images/avtar_image.jpg'></i> 
						
															<i *ngIf="isProfilePicAvailable"><img class="centered-and-cropped" width="100" height="100"
															style="border-radius: 50%" alt="Error"
															src='{{user_image}}'></i> <a><span
															class="fa fa-pencil"></span></a>

							<i *ngIf="!isProfilePicAvailable"><span
															class="fa fa-camera" aria-hidden="true" id="camera_icon"></span></i>
														<i *ngIf="isProfilePicAvailable"><span
															class="fa fa-camera" aria-hidden="true"
                              style="display: none;" id="camera_icon"></span></i> 
                            <input type="file" id="upload_File" accept="image/*" style="display: none;" (change)="fileSelected($event)" [(ngModel)]="fileName"> 
                           
                          </span> 
                          <input type="button" value="" id="upload"
														style="display: none;" (click)="uploadImageInFirebase()">
												</div>

												<!-- <div>
													<span *ngIf="true" class="profile-img-container"
														style="color: #4e98c6; margin: 15px 0 0px 25px; cursor: pointer; vertical-align: middle;"
														>
													<i
													*ngIf="!isProfilePicAvailable"><img
														class="centered-and-cropped" width="100" height="100"
														style="border-radius: 50%" alt="Network Error"
														src='../assets/images/avtar_image.jpg'></i>
												  </span>
												</div> -->
												
											</td>
										</tr>
									</table>
								</div>
								<br>
								<a *ngIf="isAdmin" routerLink='/addProduct' class="nav-link">Add Product</a>
								<a *ngIf="isAdmin" routerLink='/admin' class="nav-link">Admin</a>
								<div id="generalInfo" class="marginTop">
									<p>
										<label class="genInfo">
										<b>General Information</b></label>
									</p>
									<hr>
									<p class="inlineDisplay">
										<label><b>User Name : </b></label><label>&emsp;{{name}}</label>
									</p>
									<br />
									<p class="inlineDisplay">
										<label><b>User Email : </b></label><label>&emsp;{{email}}</label>
									</p>
									<br />
									<p class="inlineDisplay">
										<label><b>User Phone No : </b></label><label>&emsp;{{phone}}</label>
									</p>
									<br />
								</div>
							</div>
						</div>
						<div id="linkDetail" style="overflow: hidden;">
							<h3 style="padding-left: 0px; color: blue;">Address Details</h3>
							<i id="addAddressIcon" class="fa fa-plus"
							style="font-size: 18px; color: #6698b7; cursor: pointer;"
							(click)="showModal('AddAddress');" title="Add">Add Address</i>
							<hr>
							 <div >
								<div id="schedule" class="linkTab" *ngIf="showAddress">
								<p	style="float: left; width: 70%; padding: 10px 0px 10px 30px; font-family: serif; font-size: 15px;">
										<span><a target="_blank"><b>{{address.address_line_1}},</b></a></span> 
										<span><a target="_blank">{{address.address_line_2}},</a></span> 
										<span><a target="_blank">{{address.city}},</a></span><br/> 
										<span><a target="_blank">{{address.state}},</a></span><br/>
									    <span><a target="_blank">{{address.pincode}}</a></span>
									</p>
									<p style="padding: 20px 0px 50px 60px;" *ngIf="isMoreAddress">
										<br/>
										<i *ngIf="isMoreAddress"  id="addAddressIcon" class="fa fa-menu"
							style="font-size: 18px; color: #6698b7; cursor: pointer;"
							(click)="allAddressPage();" title="Add">View More</i>
										
									</p>
									<p style="padding: 20px 0px 50px 60px;" *ngIf="!isMoreAddress">
										<a id="addAddressIcon" class="fa fa-pencil"
											style="font-size: 18px; color: #6698b7; cursor: pointer;"
											ng-click="addMobileNo();" title="Add"></a>
									</p>
								</div>
							</div> 
						</div>
					</div>
				</div>
			</div>
		</div>



		