<div  *ngIf="showSpinner" style="height: 1000px; width: 200px;" >
	<div class="wrapper">
		<div class="overlay">
		  <div class="spinner-wrapper">
			<app-app-spinner></app-app-spinner>
		  </div>
		</div>
	  </div>
</div>
<div class="container" *ngIf="!showSpinner" style="height: 1000px; width: 200px;" >
  <div class="alert alert-warning" *ngIf="!isValidOtp">{{message}}</div>
  <form action (submit)=verifyOtp() *ngIf="!doNotShowLoginForm">
      <div class="container register-form">
          <div class="form">
              <div class="no">
                  <p style="align-content: center; font-size: 25px">Enter Otp</p>
              </div>
              <div class="form-content">
                <p class="alert alert-success">Otp has been sent to your Registered Mobile Number</p>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Enter Otp *" name="otp"
                                  [(ngModel)]="otp"><br>
                          </div>
                      </div>
                  </div>
                  <input type="submit" name="" value="submit" id="submitBtn" class="btnSubmit">
                  <input type="submit" name="" value="submit" id="submitBtnDisable" disabled="true"   style="display: none;"  class="btnSubmit">
              </div>
          </div>
      </div>
  </form>
</div>
