<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="product">
        
          <a onclick="" href="#" class="img-prod"><img class="img-fluid" src="" alt="Network Error">
             <span class="status"></span> 
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#"></a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">INR 120.00</span><span class="price-sale"></span></p>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a   onclick="" href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <form action="product-single.jsp" method="post" id="productdetail" style="display: none;">
          <input id="hiddenfield"  type="text" name="product_id"/>
          <input type="button" value="submit" />
       </form>